@media(max-width:768px) {
    #receita {
        width: 700px;
    }
}

@media(max-width:425px) {
    body {
        margin: 0;
    }

    #receita #cabecalho #imagen {
        padding: 0px;
    }
    
    #receita #cabecalho img {
        width: 100%;
        border-radius: 0px;
    }
}